.nav {
  height: 35px;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.nav-main {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.nav-button {
  font-weight: 100;
  text-decoration: none;
  padding: 0 15px;
  display: inline-block;
  height: 100%;
  color: white;
  line-height: 35px;
  transition-duration: 0.5s;
}

.nav-button-icon {
  padding-right: 7px;
  transform: translateY(1px);
}

.nav-button:hover {
  background: rgb(233, 29, 0);
  color: black;
}

.nav-button.active {
  background: rgb(254, 191, 0);
  color: black;
}
