html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    Eurostile, Klee, "Helvetica Neue", Helvetica,
    "Toppan Bunkyu Gothic", "Hiragino Sans GB", "PingFang TC",
    "Calibri", "Heiti TC",
    "WenQuanYi Micro Hei", "Microsoft JhengHei", "Microsoft YaHei",
    Sans-Serif;
  font-size: 1.6rem;
}
